<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Cambridge Prep
        <div class="subtitle">Preparación para exámenes Cambridge English</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list lines="none">
      <ng-container *ngIf="isAuthenticated">
        <!-- Navigation Items -->
        <ion-item
          *ngFor="let item of navItems"
          [routerLink]="item.href"
          routerDirection="root"
          [color]="currentPath === item.href ? 'primary' : ''"
          detail="false"
          class="menu-item"
        >
          <ion-icon [name]="item.icon" slot="start"></ion-icon>
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>

        <ion-item-divider></ion-item-divider>

        <!-- User Profile Items -->
        <ion-item routerLink="/profile" routerDirection="root" detail="false" class="menu-item">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>

        <ion-item routerLink="/subscription" routerDirection="root" detail="false" class="menu-item">
          <ion-icon name="ribbon" slot="start"></ion-icon>
          <ion-label>Suscripción</ion-label>
        </ion-item>

        <ion-item (click)="logout()" detail="false" class="menu-item logout-item">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ng-container>

      <ng-container *ngIf="!isAuthenticated">
        <!-- Non-authenticated Items -->
        <ion-item routerLink="/" routerDirection="root" [color]="currentPath === '/' ? 'primary' : ''" detail="false" class="menu-item">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>

        <ion-item routerLink="/login" routerDirection="root" detail="false" class="menu-item">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Iniciar Sesión</ion-label>
        </ion-item>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>
